.sidebar {
  position: relative;
  width: 5em;
  background-color: #1F1D36;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.856);
}

.sidebar a:hover {
  background-color: #f1f1f1;
  color: black;
}

.sidebar i {
  text-align: center;
  padding: 50% 10%;
  font-size: 1.5em;
}
